[user]
	email = lito.nicolai@gmail.com
	name = Lito Nicolai
[push]
	default = simple
[alias]
	lo = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    s = show
	st = status
	aa = add --all
	ci = commit
    co = checkout
    amend = commit --amend
    pullff = pull --ff-only
    dc = diff --cached
    pull = pull --rebase
    rb = rebase

    # Commands I'm not sure are a good idea
    unstage = "!git reset HEAD"
    resolve = "!grep -lr '<<<<<<<' * | xargs vi"
    lo-branch = "!git lo $(git branch-name) --not $1"
    delete-branch = "!git branch -d $1 && git push origin --no-verify :$1"

    down = pull --rebase
    onup = push
[user]
    email = lito@carezone.com
    name = Lito Nicolai

[core]
	excludesfiles = ~/.gitignore_global
	excludesfile = /Users/Lito/.gitignore_global

[rerere]
    enabled = 1

[rebase]
    autosquash = true

[push]
    default = current
