[user]
	email = lito.nicolai@gmail.com
	name = Lito Nicolai
[push]
	default = simple
[alias]
	lo = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	aa = add --all
	ci = commit
    co = checkout
    amend = commit --amend
    pullff = pull --ff-only
    dc = diff --cached

    down = pull --rebase
    onup = push
[core]
	excludesfiles = ~/.gitignore_global
